.example-container {
    height: calc(100vh - 65px);
  }
  
  .example-sidenav-content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: lightgray;
  }
  
  .example-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
  }


mat-toolbar {
    background: #004a9f;
    color: white;
}

.example-tree-invisible {
    display: none;
  }

  .text-white{
    color:white
  }

  .text-padding{
    padding-left: 40px;
    color:white;
    
  }

  .example-tree{
    background: #002b5c;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group]{
    padding-left: 20px;
  }

  

  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
    
  }

.node-custom-styles{
      cursor : pointer;
}
.node-custom-styles :hover{
  color : rgb(216, 215, 215)
}