<mat-toolbar>
    {{title}}
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
     
          <mat-tree-node *matTreeNodeDef="let node" [ngClass]="node.name==='Asset 0' ? 'text-padding': 'text-white'" (click)="selectedNode(node)">
            <p> {{node.name}} </p>
          </mat-tree-node>

          <mat-nested-tree-node  *matTreeNodeDef="let node; when : hasChild">
             
              <div  class="mat-tree-node">
                <button mat-icon-button matTreeNodeToggle
                (click)="selectedNode(node)"
                [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror text-white">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <p class="text-white"> {{node.name}}</p>
              </div>
           

            <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
            <ng-container matTreeNodeOutlet></ng-container>
            </div>
    
          </mat-nested-tree-node>
        
        </mat-tree>
    </mat-drawer>
  
    <div class="example-sidenav-content mat-elevation-z8">
      <div  *ngIf="selectedAsset == 5">
        No Asset Selected.
      </div>
      <div *ngIf="selectedAsset < 5" style="width:80%">
        <canvas
        baseChart
        [chartType]="'line'"
        [legend]="false"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
      >
      </canvas>
      </div>
       <!-- <app-charts [selected]="selectedAsset"></app-charts> -->
    </div>
  
  </mat-drawer-container>